<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>558116208470-dmm27vgm2sr4bdkqe9u1fm97uqdfi3r4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.558116208470-dmm27vgm2sr4bdkqe9u1fm97uqdfi3r4</string>
	<key>API_KEY</key>
	<string>AIzaSyA50ZFNR1edcE4vpdLWhPtvSlmjEkPkAZ0</string>
	<key>GCM_SENDER_ID</key>
	<string>558116208470</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.craftMyPlate</string>
	<key>PROJECT_ID</key>
	<string>craft-my-plate</string>
	<key>STORAGE_BUCKET</key>
	<string>craft-my-plate.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:558116208470:ios:62569e81e201afa134e0f7</string>
</dict>
</plist>